/* *{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: green;
}
.content{
    width: 420px;
    background-color: brown;
    color: white;
/*  */
/* .content h1{
    font-size: 36px;
    text-align: center;
} */
.content form .one{
    font-size: 20px;
    color: black;
} */